/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Abel', sans-sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  color: #2f3951;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
  height: 100%;
  width: auto;
  background: white;
}

header {
  background-image: url(./img/howdy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header > .overlay {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button {
  height: 20px;
  background: #a6808c;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  transition: background .5s;
  color: white;
  text-align: center;
}

.button:hover {
  background: #5d172c;
  cursor: pointer;
}

.button:focus {
	outline: none;
}

a {
  text-decoration: none;
  color: white;
	cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#cares a {
  color: #80a69a;
  text-decoration: underline;
}

h1 {
  font-size: 80px;
  color: #2f3951;
	cursor: default;
}

h2 {
  font-size: 40px;
  color: #a6808c;
	margin-bottom: 10px;
	cursor: default;
}

h3 {
  font-size: 25px;
  color: #2f3951;
  text-align: center;
	padding: 10px;
}

.nav {
  display: flex;
	justify-content: space-between;
	position: sticky;
  top: 0px;
  min-height: 50px;
  width: 100%;
	background: linear-gradient(to bottom,
                    rgba(255,255,255, 1),
                    rgba(255,255,255, 0) 100%);
}

.nav ul {
	margin: 6px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 12px;
  top: 47px;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  background: #a6808ca6;
  padding: 7px;
}

.nav > h2 {
  font-weight: bold;
}

.fab, .far {
	zoom: 2;
	margin: 5px;
	transition: color .5s;
}

.fab:hover, .far:hover {
	/* color: #a6808c; */
	color: #80a69a;
}

ul {
  display: flex;
}

.lower-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.lower-overlay > .button {
  width: 130px;
}

.lower-overlay > h2, .lower-overlay > h1 {
  color: white;
  /* -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: .2px; */
}

.main-content {
	height: 100%;
  width: 80%;
  margin: auto;
	background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-content > section {
  min-height: 100vh;
  font-size: 20px;
  width: 90%;
  padding-top: 50px;
}

.main-content > section:last-of-type {
	min-height: calc(100vh - 150px);
}

.first {
	display: flex;
  flex-direction: column;
}

.me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}

.me-pic {
  border-radius: 50%;
  height: 250px;
  width: 200px;
  margin-bottom: 20px;
}

.me-container > a {
  padding-top: 5px;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
}

.skills-container i {
  zoom: 4;
  padding: 10px;
}

.project-div {
  padding: 50px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  height: 300px;
  width: 300px;
}

.project-div figure {
	cursor: pointer;
}
.project-div img {
	transition: .8s;
}
.project-div img:hover {
	transition: .8s;
	box-shadow: 0 20px 55px rgba(0,0,0,0.35);
}

#redux-icon {
  zoom: 8;
  width: 16px;
  height: 13px;
  padding: 3px;
  padding-top: 4px;
}

#circle-icon {
  zoom: 8;
  width: 16px;
  height: 16px;
  padding: 3px;
}

.modal-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  overflow-y: scroll;
}

.project-modal-background {
  background: rgba(255, 255, 255, 0.9);
}

.close-modal-button {
  cursor: pointer;
  position: absolute;
  right: 100px;
}

.project-buttons {
  padding: 0px 10px 40px 10px !important;
}

.project-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-modal > * {
  padding: 10px;
  display: flex;
}

.modal-img {
  box-shadow: 0 20px 55px rgba(0,0,0,0.35);

}

.project-modal-content > p {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.project-modal-content a {
  color: #80a69a;
  text-decoration: underline;
}

#resume-container {
  background: rgba(0, 0, 0, 0.4);
}

#resume {
  top: 0px;
  margin-left: 150px;
  height: 1100px;
  width: 1000px;
}

.noscroll {
  overflow: hidden;
}

.lower-nav {
	display: none;
}

h3.lower-nav {
  color: #a6808c;
}

#slap, #word-trees {
	display: none;
}


#contact {
	height: 150px;
	background-color: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact ul {
	justify-content: center;
}

#contact h3 {
	color: white;
}

#compliment-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 40%;
	margin: auto;
	background: rgb(243, 238, 238);
  border: 5px solid white;
}

#compliment-modal-background {
	background: rgba(0, 0, 0, 0.7);
	align-items: center;
	display: none;
  padding-top: 100px;
}

#compliment-container input {
	width: 120px;
  height: 20px;
  padding: 6px;
}

#compliment-container .button {
	height: 30px;
  font-size: 12px;
  font-family: 'Abel', sans-sans-serif;
}

#compliment-container p {
	height: 50px;
	font-size: 20px;
	color: #7f3a3a;
}


  .caret {
      width: 0;
      height: 0;
      display: inline-block;
      border: 10px solid transparent;
  }
  .caret.up {
      border-bottom-color: #a6808ca6;
      position: absolute;
      top: -14px;
      right: 12px;
  }
  

  @media screen and (max-width: 600px) {
    .close-modal-button {
      cursor: pointer;
      position: absolute;
      right: 10px;
      font-size: 10px;
    }

    .project-modal-content {
      flex-wrap: wrap;
      justify-content: center;
    }

    .project-modal-content > p {
      width: 100%;
    }

    .skills-container i {
      zoom: 3;
      padding: 5px;
    }

    #redux-icon {
      width: 10px;
      height: 8px;
      padding: 0px;
      padding-top: 1.5px;
    }

    .lower-nav .button {
      font-size: 10px;
      height: 15px;
    }
  }