/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  /* font-family: 'Abel', sans-sans-serif; */
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #a2aab0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
  font-size: 30px;
  color: #a6808c;
	margin-bottom: 10px;
}

main {
  height: 100%;
  width: auto;
  background: #a2aab0;
  display: flex;
  flex-direction: column;
	/* overflow: hidden; */
}

.nav {
  display: flex;
	position: absolute;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid white;
  background: #d6cfcb;
  box-shadow: 0 20px 55px rgba(0,0,0,0.35);
}

.nav > h2 {
  color: #a6808c;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.nav > ul {
  display: flex;
  width: auto;
  justify-content: space-around;
  position: absolute;
  right: 20px;
}

.main-content-container {
	height: 100%;
	width: 100%;
	/* position: absolute;
	top: 100px; */
	background: none;
	overflow: scroll;
}

#sidebar {
	width: 100px;
  color: #fbfbf2;
  font-size: 14px;
  border: 1px solid white;
  background: #706677;
  padding: 10px;
  margin-left: 30px;
  box-shadow: 0 20px 55px rgba(0,0,0,0.35);
  position: sticky;
	top: 0;
}

#sidebar > li {
  padding: 3px;
  width: 100%
}

.main-content {
	width: 98%;
	margin: auto;
  color: 	#565264;
}

.main-content > section {
	background: #d6cfcb;
  border: 1px solid white;
	border-top: none;
  padding: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	/* margin: 100px; */
	box-shadow: 0 20px 55px rgba(0,0,0,0.35);
}

.first {
	display: flex;
}

.first > * {
	padding: 15px;
	margin: 10px
}

.me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  height: 370px;
  min-height: 300px;
  background: #706677;
	border: 1px solid white;
	box-shadow: 0 20px 55px rgba(0,0,0,0.35);
}

.me-pic {
  width: 200px;
  height: auto;
  border: 1px solid white;
  box-shadow: 0 20px 55px rgba(0,0,0,0.35);
}

.me-container > a {
  padding-top: 5px;
}

.me-container > a:first-of-type {
  padding-top: 20px;
}

.button {
  width: auto;
  height: 20px;
  background: #ccb7ae;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  transition: background .5s;
  color: white;
}

.button:hover {
  background: #a6808c;
}

a {
  text-decoration: none;
  color: #fbfbf2;
}

#resume-container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  overflow-y: scroll;
}

#resume {
  top: 100px;
  margin-left: 150px;
  height: 1100px;
  width: 1000px;
}

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
}
